/* body {
    font-family: monospace;
}
*/

/* ul {
    font-family: helvetica;
} 

li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }

  #msg {
    font-size:  20;
  }  */


  /* #msg {
    font-family:  helvetica;
  } */